:root {
    --Verde-Agua-Claro: #04D9B2;
    --Verde-Agua: #F2293D;
    --azul-claro: #A0F2CC;
    --branco: #F2F1F0;
    --verde-azul-escuro: #17A68C;
}

body {
    background-color: var(--branco);
}
.Avaliacao_Pagina_Empresa{
    width: 85%;
    max-width: 400px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}
.Tabela_Avaliacao_Empresa{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Tabela_Dados_Empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--verde-azul-escuro);
    width: 175%;
    height: 220px;
    border-radius: 20px;
}
.Dados_Avaliacao_Empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.Dados_Avaliacao_Empresa input{
    width: 100%;
    height: 30px;
    width: 375px;
    background: var(--Verde-Agua-Claro);
    padding-left: 10px;
    font-size: 0.85em;
    border: 1px solid var(--verde-azul-escuro);
    color: #F2F1F0;
}
.Dados_Avaliacao_Empresa textarea{
    width: 100%;
    height: 70px;
    width: 375px;
    background: var(--Verde-Agua-Claro);
    padding-left: 10px;
    font-size: 1.25em;
    text-rendering: auto;
    border: 1px solid var(--verde-azul-escuro);
    color: #F2F1F0;
}
.Container_Button_Empresa{
    padding-top: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Enviar_Usuario{
    text-decoration: none;
    border: 2px solid var(--verde-azul-escuro);
    background: var(--verde-azul-escuro);
    color: var(--branco);
    width: 80%;
    height: 40px;
    border-radius: 10px;
    transition: 0.35s;
}
.Enviar_Usuario:hover{
    background-color: var(--Verde-Agua-Claro);
    color: black;
}
.Enviar_Usuario:active{
    transition: 0.001s;
    height: 40px;
    width: 60%;
}