:root {
    --Verde-Agua-Claro: #04D9B2;
    --Verde-Agua: #F2293D;
    --azul-claro: #A0F2CC;
    --branco: #F2F1F0;
    --verde-azul-escuro: #17A68C;
}

.Fundo {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/img/3786391_78792 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Titulo_Css{
    color: #F2293D;
}
.Tabela_Position{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    gap: 50%;
    max-width: 450px;
    margin: auto;
}
.Tabela{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120%;
    height: 300px;
    border-radius: 20px;
    background: var(--azul-claro);
}
.Tabela-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120%;
    height: 300px;
    border-radius: 20px;
    background: var(--azul-claro);
}
.Titulo-Tabela{
    padding-left: 30px;
    font-size: 20px;
}