:root {
    --vermelho-escuro: #BE1E2D ;
    --Verde-Agua-Claro: #04D9B2;
    --vermelho-claro: #F2293D;
    --preto: #1C1C1C; 
    --branco: #F2F2F2 ;
}
.area-header{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100px;
}
.logo_header{
    width: 125px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.area{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--preto);
    text-transform: uppercase;
    font-size: 15px;
}
.Button_Op{
    padding: 20px;
    text-decoration: none;
    color: #34382D;
}
.Button_Op:hover{
    text-decoration:underline;
}
.Button_Search {
  margin-left: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--verde-azul-escuro);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-size: 20px;
  text-decoration: none;
}

.Button_Search:hover {
  color: var(--Verde-Agua-Claro);
  transform: scale(1.1);
}

.icon-search {
  pointer-events: none;
}