:root {
    --Verde-Agua-Claro: #04D9B2;
    --Verde-Agua: #F2293D;
    --azul-claro: #A0F2CC;
    --branco: #F2F1F0;
    --verde-azul-escuro: #17A68C;
}

body {
    background-color: var(--branco);
}

.Avaliacao_Pagina {
    padding-top: 110px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Tabela_Avaliacao {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Text_1 {
    color: var(--Verde-Agua-Claro);
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: center;
}

.Text_2 {
    color: var(--Verde-Agua-Claro);
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: center;
}

.Tabela_Dados {
    width: 100%;
    background-color: var(--verde-azul-escuro);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Dados_1 {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.Dados_Avaliacao {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Dados_Avaliacao input {
    width: 100%;
    height: 35px;
    background: var(--Verde-Agua-Claro);
    padding-left: 10px;
    border: 1px solid var(--verde-azul-escuro);
    color: #F2F1F0;
    font-size: 0.95em;
}

.Dados_2 .Dados_Avaliacao textarea {
    width: 100%;
    height: 120px;
    background: var(--Verde-Agua-Claro);
    padding: 10px;
    border: 1px solid var(--verde-azul-escuro);
    color: #F2F1F0;
    font-size: 1em;
    resize: none;
}

.SugestoesWrapper {
    position: relative;
}

.Sugestoes-Box {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background: var(--branco);
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.Sugestao {
    padding: 10px;
    cursor: pointer;
    color: black;
    transition: background 0.2s;
}

.Sugestao:hover {
    background: var(--azul-claro);
}

.Container_Button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Enviar {
    background: var(--verde-azul-escuro);
    border: 2px solid var(--verde-azul-escuro);
    color: var(--branco);
    width: 60%;
    height: 45px;
    border-radius: 10px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.Enviar:hover {
    background-color: var(--Verde-Agua-Claro);
    color: black;
}

.Enviar:active {
    width: 50%;
    transition: 0.05s;
}

.Mensagem {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.Banner_imgWomen {
    width: 300px;
    display: flex;
    justify-content: center;
}

.Imagen_Women {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 500px;
}